.header
  =link_to root_path, class: "header__title" do
    = image_tag "TigerMask_icon.png", size: "100x100", alt: "TigerMask", class: "header__title__image"
    %p.header__title__text Tiger Mask
  .header__right
    .header__right__user
      - if user_signed_in?
        = link_to users_path, class: "header__right__user--name" do
          %p #{current_user.email} 様
        = link_to carts_path, class: "header__right__user--cart" do
          %i.fas.fa-shopping-cart.fa-lg
        = link_to destroy_user_session_path, class: "header__right__user--logout", method: :delete do
          %p ログアウト
      - else
        = link_to new_user_registration_path, class: "header__right__user--new" do
          %p 登録
        = link_to new_user_session_path, class: "header__right__user--login" do
          %p ログイン
    .header__right__menu#menu
      %li.header__right__menu__list
        = link_to "javascript:;", class: "header__right__menu--products" do
          %p PRODUCTS
        .header__right__menu__list__contents
          %ul
            %li
              = link_to mask_path(@tiger.id), class: "header__right__menu__list__contents__product" do
                = image_tag "Mask1.png", size: "100x100", alt: "TigerMask", class: "header__right__menu__list__contents__product__image"
                %p #{@tiger.name}
            %li
              = link_to mask_path(@lion.id), class: "header__right__menu__list__contents__product" do
                = image_tag "Mask2.png", size: "100x100", alt: "TigerMask", class: "header__right__menu__list__contents__product__image"
                %p #{@lion.name}
            %li
              = link_to mask_path(@cheetah.id), class: "header__right__menu__list__contents__product" do
                = image_tag "Mask3.png", size: "100x100", alt: "TigerMask", class: "header__right__menu__list__contents__product__image"
                %p #{@cheetah.name}
            %li
              = link_to mask_path(@cat.id), class: "header__right__menu__list__contents__product" do
                = image_tag "Mask4.png", size: "100x100", alt: "TigerMask", class: "header__right__menu__list__contents__product__image"
                %p #{@cat.name}
      = link_to about_us_masks_path, class: "header__right__menu--aboutus" do
        %p ABOUT US
      = link_to donation_logs_carts_path, class: "header__right__menu--donationlogs" do
        %p DONATION LOGS