-# 商品の詳細画面。それぞれの商品に「購入数入力欄」と「ボタン」を配置。
-# 「ボタン」を押すとcarts#add_itemへとPOSTアクションを飛ばし、購入数と商品IDを飛ばしたあと、carts#showへとリダイレクトするようにする。

.mask
  .mask__name #{@mask.name}
  .mask__infomation #{@mask.infomation}
  .mask__detail #{@mask.detail}
  = image_tag @mask.image,size: "300x300", class: 'mask__image'

  .mask__buy
    .mask__buy__price ¥#{@mask.price}(税別)
  - if user_signed_in?
    %form.mask__buy__form{action: add_item_path, method: "post"}
      %input.mask__buy__form--hidden{type: "hidden", name: "id", value: "#{@mask.id}"}
      %input.mask__buy__form--number{name: "number", placeholder: "個数", type: "number", value: ""}
      %input.mask__buy__form--btn{type: "submit", value: "カートへ入れる"}
  - else
    .mask__buy__caution 購入にはログインが必要です。