= render "masks/header_mini"

.cart
  .cart__main
    %p.cart__main--text CART 
    - @user_carts.each do |user_cart|
      .cart__main__content
        .cart__main__content__left
          .cart__main__content__left--name #{user_cart[:name]}
          = image_tag "#{user_cart[:image]}",size: "100x100", class: '.cart__main__content__right--image'
        .cart__main__content__right
          .cart__main__content__right--price ¥#{user_cart[:price]}(税込)
          %form.cart__main__content__right--form{action: update_item_path, method: "post"}
            %input.cart__main__content__right--form-hidden{type: "hidden", name: "id", value: "#{user_cart[:cart_id]}"}
            %input.cart__main__content__right--form-number{name: "number", placeholder: "#{user_cart[:quantity]}", type: "number", value: "#{user_cart[:quantity]}", min: 1}
            %input.cart__main__content__right--form-btn{type: "submit", value: "変更"}
          = link_to '削除', delete_item_path(id: "#{user_cart[:cart_id]}"),class: 'cart__main__content__right--delete', method: :delete
  - if @total_price != 0
    .cart__footer
      .cart__footer__total
        %p.cart__footer__total--price
          %span.cart__footer__total--text 合計金額
          ¥#{@total_price}
        %p.cart__footer__total--price
          %span.cart__footer__total--text 寄付金額
          ¥#{@total_price/10}
      .cart__footer__link
        = link_to "購入画面に進む", purchase_carts_path, class: "cart__footer__link--text"